<!DOCTYPE>

<div class="container">
  <div class="banner">
    <h1><%= @headline %></h1>
    <!-- Searchbar and Button Start -->
    <div class="sb-banner">
      <%= form_tag clubs_path, method: :get, class: "" do %>
        <div class="s-n-b">
          <div class="s">
          <%= text_field_tag :query, params[:query], placeholder: "Search", class: "searchbar" %>
          </div>
          <div class="b">
            <%= button_tag "Submit", :class => 'button',:name => nil%>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Searchbar and Button End -->
  </div>
  <div class="filters">
    <p>Placer Holder  Filter1 Filter2 Filter3</p>
  </div>
</div>
<!-- Clubcards with containner padding Start -->
<div class="container-main">
  <div class='container-card'>
    <% @clubs.each do |club|  %>
      <div class="card-index">
        <div class="card-index-inside">
          <%= link_to club_path(club) do %>
            <div class="p-n-l"><%= image_tag('example_dog.jpg', :class => "image") + image_tag('example_logo.jpg', :class => "logo") %></div>
            <div class="name"> <%= club.name %></div>
          <% end %>
          <div class="l-n-b">
            <div class="location"><%= "Placeholder Location" %></div>
            <div class="bookmark"><%= "Placeholder Boomark" %></div>
          </div>
          <div class="d1"> <%= truncate(club.description, length: 250) %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Clubcards with containner padding End -->
