<!DOCTYPE>

<div class="container">
  <div class="banner">
    <h1 class="header-index"><%= @headline %></h1>
    <!-- Searchbar and Button Start -->
    <div class="sb-banner">
      <%= form_tag clubs_path, method: :get, class: "" do %>
        <div class="s-n-b">
          <div class="s">
          <%= text_field_tag :query, params[:query], placeholder: "Search", class: "searchbar" %>
          </div>
          <div class="b">
            <%= button_tag "Submit", :class => 'button',:name => nil%>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Searchbar and Button End -->
  </div>
  <div class="filters">
    <p><!-- Placer Holder  Filter1 Filter2 Filter3 --></p>
  </div>
</div>
<!-- Clubcards with containner padding Start -->
<div class="container-main">
  <div class='container-card'>
    <% @clubs.each do |club|  %>
      <div class="card-index">
        <div class="card-index-inside">
          <%= link_to club_path(club) do %>
            <% if club.photos.first && club.logo.attached? %>
              <div class="p-n-l"> <%= cl_image_tag(club.photos.first.key, :class => "image") + cl_image_tag(club.logo.key, :class => "logo") %></div>
            <% else %>
              <div class="p-n-l"><%= image_tag('example_dog.jpg', :class => "image") + image_tag('example_logo.jpg', :class => "logo") %></div>
            <% end %>
            <div class="name"> <%= club.name.capitalize %> <i class="far fa-heart"></i></div>
            <div class="l-n-b">
              <div class="location"><i class="fas fa-map-marker-alt"></i> <%= truncate(club.address.capitalize, length: 40, separator: ' ', omission: ' ') %></div>
            </div>
              <div class="category"><strong><%= club.category.capitalize %></strong></div>
            <div class="d1"> <%= truncate(club.description, length: 100, separator: ' ') %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
