<% content_for :meta_title, "#{@club.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @club.description %>
  <% if @club.photos.attached? %>
  <% content_for :meta_image, cl_image_path(@club.photos.first.key) %>
<% end %>
<div class="club-header-image">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @club.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>">
          <%= cl_image_tag photo.key %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container main-discription">
    <div class="d-flex align-items-end avatar-container">
      <% if @club.logo.attached? %>
        <%= cl_image_tag @club.logo.key, class: "club-avatar" %>
      <% else %>
        <%= image_tag ("Dogpaw.png"), class: "club-avatar" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container main-content">
  <div class="row">
    <div class="col-sm-12 col-lg-6 club-name">
      <h1 class="clubavatar-margin-top"><%= @club.name.titlecase %></h1>
      <p><%= @club.address.titlecase  %></p>
      <div class="social">
        <div class="sm-boxes">
          <div class="sm-box">
            <i class="fab fa-instagram sm-icon ig"></i>
          </div>
          <div class="sm-box">
            <i class="fab fa-facebook-square sm-icon fb"></i>
          </div>
          <div class="sm-box">
            <i class="fab fa-twitter-square sm-icon tw"></i>
          </div>
        </div>
        <div class="bookmark">
          <% if @isbookmarked  %>
            <%= link_to club_bookmark_path(@club), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= render "bookmarks/newbookmark" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 d-flex justify-content-end">
      <div class="donation-club-box d-flex flex-column justify-content-between">
        <h2>Support us now!</h2>
        <p> <%= @short  %></p>

        <!-- New Button Class and style Start // Leo -->
        <div class="button-donate">
          <%= link_to "Donate Now", new_club_donation_path(@club), class:"button-center" %>
        </div>
        <!-- New Button Class and style End -->
      </div>
    </div>
  </div>
  <div id="club-about">
    <h2>About us</h2>
    <p><%= @club.description %></p>
  </div>
  <div id="club-images">
    <% @club.photos.each do |photo| %>
      <div class="club-image">
        <%= cl_image_tag photo.key %>
      </div>
    <% end %>
  </div>
    <div id="map"
      style="width: 100%; height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
  <div id="club-updates">
    <h2>Latest Updates</h2>
    <% if current_user == @club.user %>
    <%= link_to "Write an Article", new_club_article_path(@club), class: 'add-btn' %>
    <% end  %>
    <% @articles.each do |article| %>
      <div class="update-box">
      <% if article.photo.attached? %>
        <div class="update-img"><%= cl_image_tag article.photo.key, width: 200, height: 200, crop: :fill%></div>
      <% else %>
        <div class="update-img"></div>
      <% end %>
        <div class="update-content">
          <h3><%= article.title  %></h3>
          <p>posted by: <%= article.club.name  %> on <%= article.created_at.strftime("%b. %Y")  %></p>
          <p><%= article.description%></p>
          <!-- New Button Class and style Start // Leo -->
          <div class="art-btn">
            <button class="read-btn" type="button">Read more</button>
            <% if current_user == @club.user %>
            </div>
            <% end %>
          </div>
          <!-- New Button Class and style End // Leo -->
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <div class="chat-widget-wrapper">
    <div class="chat-widget-container open">
      <div class="chat-widget-text">
        <p class="heading">LIVE CHAT</p>
        <p>How can we help?</p>
      </div>
      <div class="chat-widget-avatar">
        <img src="http://image.flaticon.com/icons/svg/236/236831.svg" alt="" />
      </div>
    </div>
    <div class="chat-box-container show">
      <div class="chat-box-nav">
      </div>

      <div class="chat-box-content">
        <div id="messages" class="messages" data-chatroom-id="<%= @chatroom.id %>" data-current-user-id="<%= current_user.id %>">
          <% @messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
        </div>

        <div>
          <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
            <div class="input-group mb-3">
              <%= f.input :content, label: false, placeholder: "send a message", input_html: { class: "chat-msg" }, wrapper_html: {class: 'm-0'}  %>
              <div class="input-group-append">
                <%= f.submit  "send", class: "btn btn-outline-secondary"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
<% end %>
