<div class="club-header-image">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @club.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>">
          <%= cl_image_tag photo.key %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container main-discription">
    <div class="d-flex align-items-end avatar-container">
      <div class="club-avatar"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
     <h1 class="clubavatar-margin-top"><%= @club.name  %></h1>
     <div class="sm-box">
      <i class="fab fa-instagram sm-icon ig"></i>
    </div>
    <div class="sm-box">
     <i class="fab fa-facebook-square sm-icon fb"></i>
    </div>
    <div class="sm-box">
     <i class="fab fa-twitter-square sm-icon tw"></i>
    </div>
    </div>
    <div class="col-sm-12 col-lg-6 d-flex justify-content-end">
      <div class="donation-club-box d-flex flex-column justify-content-between">
        <h2>Support us now!</h2>
        <p> <%= @short  %></p>
        
        <!-- New Button Class and style Start // Leo -->
        <div class="button-donate">        
          <%= link_to "Donate Now", new_club_donation_path(@club), class:"button-center" %> 
        </div>
        <!-- New Button Class and style End -->
      </div>
    </div>
  </div>
  <div id="club-about">
    <h2>About</h2>
    <p><%= @club.description * 10 %></p>
  </div>
  <div id="club-images">
    <% @club.photos.each do |photo| %>
      <div class="club-image">
        <%= cl_image_tag photo.key %>
      </div>
    <% end %>
  </div>
  <div id="club-updates">
    <h2>Latest Updates</h2>
    <% @updates.each do |update| %>
      <div class="update-box">
        <div class="update-img"></div>
        <div class="update-content">
          <h3><%= update.title  %></h3>
          <p>posted by: <%= update.club.name  %> on <%= update.created_at  %></p>
          <p><%= update.description  %></p>
          <!-- New Button Class and style Start // Leo -->
          <button class="button" type="button">Read more</button>
          <!-- New Button Class and style End // Leo -->
        </div>
      </div>
    <% end %>
  </div>
</div>
