<div class="container">
  <div class="banner">
    <h1 class="header-profile">Hello <%= @user.first_name%> <%= @user.last_name %></h1>
    <div>
      <h3 style="text-align: center" padding-bottom="10px">Your personal donation progressbar</h3>
      <p style="text-align: center">You already reached <span class="clr-main" style="font-size: 25px"><strong> <%= @donation_percentage_clean.to_s + '%' %></strong></span> of your total goal!</p>
    </div>
    <div class="donation-bar">
      <div class="donation-goal" ></div>
      <div class="donation-progress" style= "width: <%= @donation_percentage.to_s + '%' %>"> Your Donations: €<%= @donations.to_s %></div>
      <div id="user-goal"> Your Goal: €<%= @user.goal.to_i%></div>
    </div>
    <div class="text-banner">
      <p style="text-align: center" class="p">Set your own donation goal. </p>
    </div>
    <div class="dg-banner">
      <%= form_with url: profile_path, method: :post do |f| %>
        <div class="g-n-b">
          <div class="g">
            <%= f.number_field :goal, placeholder: "€0", :value => @user.goal.to_i, class: "searchbar sw" %>
          </div>
          <div class="bu">
            <%= f.submit 'Submit', :class => "button1" %>
          </div>
        </div>
      <% end %>
      <p style="text-align: center" class="p">A easy and convenient way to make sure you never forget to donate to your personal favorite animal welfare organizations.</br> Setting a goal can help you to keep track of the amount you wish to donate.</br> Choose your personal goal here and keep track of your progress each time you donate! </br> Thank you for your support and happy donating!</p>
    </div>
  </div>
</div>
<div class="white"></div>
<div class="container">
  <div class="banner">
    <h1 style="text-align: center; margin: 40px 0">See all your favorite animal welfare organizations here!<h1>
  </div>
</div>
<div class="container-main">
  <div class='container-card'>
    <% @bookmarks.each do |bookmark| %>
    <div class="card-index">
            <div class="card-index-inside">
              <%= link_to club_path(bookmark.club) do %>
                <% if bookmark.club.photos.first && bookmark.club.logo.attached? %>
                  <div class="p-n-l"> <%= cl_image_tag(bookmark.club.photos.first.key, :class => "image") + cl_image_tag(bookmark.club.logo.key, :class => "logo") %></div>
                <% else %>
                  <div class="p-n-l"><%= image_tag('example_dog.jpg', :class => "image") + image_tag('example_logo.jpg', :class => "logo") %></div>
                <% end %>
                <div class="name"> <%= bookmark.club.name.titlecase %> <i class="fas fa-heart"></i></div>
                <div class="l-n-b">
                  <div class="location"><i class="fas fa-map-marker-alt"></i> <%= bookmark.club.address.titlecase %></div>
                </div>
                  <div class="category"><strong><%= bookmark.club.category.titlecase %></strong></div>
                <div class="d1"> <%= truncate(bookmark.club.description, length: 50) %></div>
              <% end %>
            </div>
          </div>
    <% end %>
  </div>
</div>
<div class="white"></div>
<div class="header-profile"><!-- Trigger/Open The Modal -->
  <button id="myBtn1" class="button-edit">Change Your Personal Details</button>
     <!-- The Modal -->
    <div class="container-main-u">
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content1">
          <span class="close">&times;</span>
          <%= render "devise/registrations/form"  %>
        </div>
      </div>
    </div>
</div><!-- Trigger/Close The Modal -->
<div style="height: 85px"></div>
<div class="container clubs-own">

  <% if @clubs.empty? == false  %>
    <h2>Your Clubs</h2>
    <% @clubs.each do |club| %>
      <div class="card-index club-index update-clubs">
          <% if club.photos.first && club.logo.attached? %>
            <div class="p-n-l"><%= cl_image_tag(club.photos.first.key, :class => "image") + cl_image_tag(club.logo.key, :class => "logo") %></div>
          <% else %>
            <div class="p-n-l"><%= image_tag('example_dog.jpg', :class => "image") + image_tag('example_logo.jpg', :class => "logo") %></div>
          <% end %>
          <h3> <%= link_to club.name.titlecase, club_path(club)  %></h3>
          <div class="update-buttons">
            <%= link_to "edit club", edit_club_path(club), class:"read-btn"  %>
            <%= link_to "delete club",club_path(club), class:"add-btn", method: :delete, data: { confirm: "Are you sure?" }  %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>

