<h1>Hello <%= @user.first_name%> <%= @user.last_name %></h1>
<div class="header-index">Choose your donation goal current <%= @user.goal %> <div>
    <%= form_with url: profile_path, method: :post do |f| %>
      <%= f.number_field :goal, placeholder: @user.goal, label: "What Is Your Donation Goal", class: "form-control" %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="donation-bar">
    <div class="donation-goal" >
      <%= @user.goal %>
    </div>
    <div class="donation-progress" style= "width: <%= @donation_percentage.to_s + '%' %>"></div> <%= @donation_percentage.to_s + '%' %>">
  </div>
</div>
<div>
</div>
<div><!-- Trigger/Open The Modal -->
<button id="myBtn1" class="button-donate">Edit Profile</button>

<!-- The Modal -->
<div class="container-main-u">
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content1">
      <span class="close">&times;</span>
      <%= render "devise/registrations/form"  %>
    </div>
  </div>
</div>

<div>
</div>

