<h1>Hello <%= @user.first_name%> <%= @user.last_name %></h1>
<div class="header-index">Choose your donation goal current <%= @user.goal %> <div>
    <%= form_with url: profile_path, method: :post do |f| %>
      <%= f.number_field :goal, placeholder: @user.goal, label: "What Is Your Donation Goal", class: "form-control" %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="donation-bar">
    <div class="donation-goal" >
      <%= @user.goal %>
    </div>
    <div class="donation-progress" style= "width: <%= @donation_percentage.to_s + '%' %>"></div> <%= @donation_percentage.to_s + '%' %>">
  </div>
</div>
<div>
</div>
<div><!-- Trigger/Open The Modal -->
<button id="myBtn1" class="button-donate">Edit Profile</button>

<!-- The Modal -->
<div class="container-main-u">
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content1">
      <span class="close">&times;</span>
      <%= render "devise/registrations/form"  %>
    </div>
  </div>
</div>

<div>
</div>

<div class="container clubs-own">
  <h2>Your Clubs</h2>
  <% @clubs.each do |club| %>
    <div class="card-index club-index update-clubs">
        <% if club.photos.first && club.logo.attached? %>
          <div class="p-n-l"><%= cl_image_tag(club.photos.first.key, :class => "image") + cl_image_tag(club.logo.key, :class => "logo") %></div>
        <% else %>
          <div class="p-n-l"><%= image_tag('example_dog.jpg', :class => "image") + image_tag('example_logo.jpg', :class => "logo") %></div>
        <% end %>
        <h3> <%= link_to club.name, club_path(club)  %></h3>
        <div class="update-buttons">
          <%= link_to "edit club", edit_club_path(club), class:"read-btn"  %>
          <%= link_to "delete club",club_path(club), class:"add-btn", method: :delete, data: { confirm: "Are you sure?" }  %>        
        </div>
    </div>
  <% end %>
</div>

