<h1 class="header-profile">About Us</h1>
  <p style="text-align: center" padding-bottom="10px"><span class="clr-main">Charming Creatures</span> was created and designed by us.</br>
  During the project weeks of the Web Development course in Berlin by Le Wagon.</p>

  <div class="header-profile" style="padding-bottom:20px" >
    <%= link_to href="https://www.lewagon.com/", target: "_blank" do %>
    <%= image_tag(href='https://dwj199mwkel52.cloudfront.net/assets/core/svg/logo-lewagon-5ff5f090209d8d3bf493790d7935822208011748adb83a2fbc6bcaaf05a289ef.svg', :class => "logo") %>
    <% end %>
  </div>
  <div class="container-main cm">
    <div class="container-card grid-2x2 ">
      <div class="card-index h-100">
        <div class="card-index-inside pic">
          <%= link_to href="https://github.com/Mhd-Adel", target: "_blank" do %>
          <div class="p-n-l pic"><%= image_tag(href='https://avatars.githubusercontent.com/u/76011035?v=4', :class => "imaged") + image_tag('GitHub-Mark.png', :class => "logo") %></div>
          <div class="name">Mhd.adel Al Masri</div>
          <% end %>
        </div>
      </div>
      <div class="card-index h-100">
        <div class="card-index-inside pic">
          <%= link_to href="https://github.com/Botlike31", target: "_blank" do %>
          <div class="p-n-l pic"><%= image_tag(href='https://avatars.githubusercontent.com/u/72574360?v=4', :class => "imaged", :style => "object-position: top;") + image_tag('GitHub-Mark.png', :class => "logo") %></div>
          <div class="name">Andreas Broska</div>
          <% end %>
        </div>
      </div>
      <div class="card-index h-100">
        <div class="card-index-inside pic">
          <%= link_to href="https://github.com/ichboop", target: "_blank" do %>
          <div class="p-n-l pic"> <%= image_tag(href='https://avatars.githubusercontent.com/u/66678070?v=4', :class => "imaged") + image_tag('GitHub-Mark.png', :class => "logo") %></div>
          <div class="name">Leonard Diemer</div>
          <% end %>
        </div>
      </div>
      <div class="card-index h-100">
        <div class="card-index-inside pic">
          <%= link_to href="https://github.com/daniel-meow", target: "_blank" do %>
          <div class="p-n-l pic"><%= image_tag(href='https://avatars.githubusercontent.com/u/47478904?v=4', :class => "imaged", :style => "object-position: 100% 19%;") + image_tag('GitHub-Mark.png', :class => "logo") %></div>
          <div class="name">Daniel Thiel</adiv>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
<p style="text-align: center; padding-top: 20px" style="padding-top: 10px">Batch-531 - January 2021 - March 2021 </p>

