<div id="home-header">
  <div class="home-container">
      <div class="home-header-content">
        <h1>Support animal welfare organizations all over the world with your donation! </h1>
        <p><span class="clr-main">Charming Creatures</span> is the #1 online platform for finding small to medium sized animal welfare organizations worldwide that need your help </p>
         <div class="sb home-mt">
          <%= form_tag clubs_path, method: :get, class: "search_input" do %>
            <%= text_field_tag :query,
              params[:query],
              placeholder: "Find your club" %>
            <%= button_tag(type: "submit") do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="home-header-image">

      </div>
  </div>
</div>
<div id="home-mission">
  <div class="mission-container">
    <div class="mission-headline">
      <h2>Our Mission</h2>
    </div>
    <div class="missions">
      <div class="mission">
       <%= image_tag("home-donate.png") %>
       <h3>Donate</h3>
       <p>Donate money for food, medical bills, transportations and other expenditures, so that animals can have a better life</p>
      </div>
      <div class="mission">
       <%= image_tag("home-discover.png") %>
       <h3>Discover</h3>
       <p>Discover small to medium sized animal welfare organizations from all over the world to find your perfect match</p>
      </div>
      <div class="mission">
       <%= image_tag("home-save.png") %>
       <h3>Save</h3>
       <p>Save the world by supporting animals! More than 83,000 animal species are threatened with extinction as of today</p>
      </div>
    </div>
  </div>
</div>
<div id="home-look">
  <h2>Some heroes</h2>
  <div class="container-main">
    <div class='container-card'>
      <% 3.times do |club|  %>
      <% club = @clubs.sample %>
        <div class="card-index">
          <div class="card-index-inside">
            <%= link_to club_path(club) do %>
              <% if club.photos.first %>
                <div class="p-n-l"><%= cl_image_tag(club.photos.first.key, :class => "image") + image_tag('example_logo.jpg', :class => "logo") %></div>
              <% else %>
                <div class="p-n-l"><%= image_tag('example_dog.jpg', :class => "image") + image_tag('example_logo.jpg', :class => "logo") %></div>
              <% end %>
              <div class="name"> <%= club.name %></div>
              <div class="l-n-b">
                <div class="location"><i class="fas fa-map-marker-alt"></i> <%= club.address %></div>
                <div class="bookmark"><strong>Bookmarks</strong></div>
              </div>
                <div class="category"><strong><%= club.category %></strong></div>
              <div class="d1"> <%= truncate(club.description, length: 250) %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="home-look">
  <h2>Awesome achievements</h2>
  <div class="container-main">
    <div class='container-card'>
        <% 3.times do |article| %>
        <% article = @articles.sample %>
          <%= link_to club_path(article.club) do %>
            <div class="card-index">
                <div class="card-index-inside">
                  <% if article.photo.attached? %>
                    <div class="p-n-l"><%= cl_image_tag(article.photo.key, :class => "image")%></div>
                  <% else %>
                    <div class="p-n-l"><%= image_tag('example_bear.jpg', :class => "image")%></div>
                  <% end %>
                    <div class="update-content">
                      <h3><%= article.title  %></h3>
                      <div class="name"><%= article.club.name  %></div>
                      <div class="d1">from: <%= article.created_at.strftime("%b. %Y")  %></div>
                      <div class="d1"><%= article.description%></div>
                  </div>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>



<% if false %>
<div class="overlay-container">
  <div class="overlay">
    <h1>Charming Creatures</h1>
    <h3>Super catchy phrase</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</p>
    <br>
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="sb">
          <%= form_tag clubs_path, method: :get, class: "search_input" do %>
            <%= text_field_tag :query,
              params[:query],
              placeholder: "Find your club" %>
            <%= button_tag(type: "submit") do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
