<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Donate for <%= @club.name %></h1>
      <div class="donation-box">
        <div class="donation-box-content">
          <%= simple_form_for [@club, @donation] do |f| %>
            <%= f.input :amount, class: "form-control" %>
            <div class="full-name">
              <%= f.input :amount, label: "first name", class: "first_name" %>
              <%= f.input :amount, label: "last name", class: "last_name" %>
            </div>
            <%= f.input :amount, label: "email" %>
            <%= f.input :amount, label: "address" %>
            <%= f.button :submit, "Donate now",  class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
